* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.Profile {
  min-height: 100vh;
  width: 100%;
  font-size: 14px;
  background: #fff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__profile {
  position: relative;
  background-color: #242424;
  width: 220px;
  height: 220px;
  padding: 24px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 60px 5px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  transition: width 0.4s, height 0.4s, border-radius 0.4s;
}

.container__profile:hover {
  width: 340px;
  height: 440px;
  border-radius: 4px;
}

.img-container__profile {
  width: 170px;
  height: 170px;
  min-height: 170px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.2);
}

.img-container__profile img {
  width: 100%;
  max-width: 100%;
}

.full-name__profile {
  font-size: 1.4em;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 40px;
  margin-bottom: 16px;
}

.role__profile,
.description__profile {
  font-size: 1em;
  letter-spacing: 0.5px;
  line-height: 20px;
  text-align: center;
}

.role__profile {
  text-transform: uppercase;
  padding-bottom: 8px;
  margin-bottom: 24px;
  border-bottom: 2px solid #ffbe44;
}

.social-container__profile {
  position: absolute;
  top: 40px;
  left: -40px;
  display: flex;
  flex-direction: column;
}

.social-container__profile button {
  border: none;
  outline: none;
  color: #eee;
  background: none;
  width: 20px;
  height: 40px;
  font-size: 1.7em;
  margin-bottom: 16px;
  cursor: pointer;
  transition: transform 0.4s;
}

.container__profile:hover .social-container__profile button {
  transform: translateX(60px);
  transition-delay: 0.3s;
}

.container__profile:hover .social-container__profile button:nth-child(2) {
  transition-delay: 0.5s;
}

.container__profile:hover .social-container__profile button:nth-child(3) {
  transition-delay: 0.7s;
}
